
//colors:
$orange:#ef5411;
$green:#9fbf2c;
$greenActive:#64950e;
$textGreenDark: #42501b;
$textGreenLight:#727a5e;
$textGrayDark: #666;
$textGrayLight: #999;

$baseFontSize: 15px;

body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $baseFontSize;
}

header{
    text-align: center;
    margin-top: 2em;
    p{
        color:#42501b;
        font-size: 1.5em;
        margin: 0;
    }
    h1{
        font-size: 4em;
        margin: 0;
        font-style: italic;
        font-weight: bold;
    }
}

.orange{
    color: $orange;
}
.green{
    color:$green;
}

/*_____________________________________
                         MAIN CONTENT*/

.mainContent{
    // text-align: center;
    margin-top: 2em;
}

/*__________________________________________
                         CHOICE OF ENGINES*/
.engines{
    display: block;
    button{
        display: block;
        float: left;
        height: 45px;
        color: white;
        background-color:black;
        border: none;
        width: 50%;
        background-color: $green;
        font-size: 1.2em;
        cursor: pointer;
        width: 50%;
        &.active{
            background-color: $greenActive;
        }
    }
}

.searchField{
    position: relative;
    input{
        box-sizing: border-box;
        box-shadow: none;
        height: 4em;
        padding-left: 30px;
        font-size: 1.2em;
        color: $textGreenDark;
        border: 1px solid transparentize($textGreenLight, 0.8);

        &::-webkit-input-placeholder{
            color:$textGreenLight;
        }
    }
    /*Search button*/
    button.btn-search{
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background: none;
        cursor: pointer;
        padding:1.2em 2.2em;
        .fa-search{
            font-size: 2.5em;
            color: $orange;
        }
    }    
}

/* news only */
.newsOnly{
    color:$textGreenDark;
}

/*_____________________________________________
                         all navigation lists*/
nav
{
    clear: both;
    ol{
        margin:0;
        padding:0;
        li{
            list-style: none;
            margin: 0;
            padding: 0;
            display: inline-block;
        }
        a{
            display: block;
            padding: 5px 10px;
            color:$textGreenDark;
            text-decoration: none;
            &:hover{
                color:transparentize($textGreenDark, 0.5);
                
            }
        }
        &.languages{
            text-align: center;
            li{
                border-right: 1px solid $green;
                &:last-child{
                    border-right: none;
                }
            }
        }
    }
    
} 

/*____________________________________________
                         SEARCH RESULTS PAGE*/

.word-cloud{
        border-top: 1px solid transparentize($textGreenLight, 0.8);
        border-bottom: 1px solid transparentize($textGreenLight, 0.8);
        padding: 2em;
        text-align: center;
        background: #EFEFEF;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            padding:5px 20px;
            a{
                cursor: pointer;
                &.xs{
                    font-size: 1em;
                    color: transparentize($textGreenDark, 0.6);
                }
                &.sm{
                    font-size: 1.5em;
                    color: transparentize($textGreenDark, 0.5);
                }
                &.md{
                    font-size: 2.0em;
                    color: transparentize($orange, 0.6);
                }
                &.lg{
                    font-size: 2.3em;
                    color: transparentize($orange, 0.3);
                }
            }
            
        }
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.sr-summary{
    text-align: left;
    padding: 0 1em;
    header{
        text-align: left;
        margin-top:0.5em;
        h2{
            font-size: 1.5em;
            line-height: 0.5em;
            font-weight: normal;
            color: $textGrayLight;
            float: left;
            span{
                font-style: italic;
                font-size: 0.8em;
                color: $textGrayDark;
            }
        }
        .actions{
            margin-top:0.5em;
            float: right;
            clear: right;
        }
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .sr-summary-body{
        margin-top:2em;
        article{
            clear:both;
            margin-top:2em;
            margin-bottom:2.5em;
            padding-left:1em;
            border-left:5px solid #DDD;
        }
    }
    
    
}

/*_____________________________________________
                        SITE-WIDE BREADCRUMBS*/
.breadcrumb{
    margin:0;
    padding:1em;
}

/*____________________________________________
                            SITE-WIDE FOOTER*/
footer.site-footer{
    text-align: center;
    background: transparentize(#EBEBEB, 0.1);
    width: 100%;
    display: block;
    padding:20px;
    margin-top:100px;

    ol{
        li a{
            color: transparentize($textGreenDark, 0.5);
            font-size: 0.9em;
            &:hover{
                color: transparentize($textGreenDark, 0.7);
            }
        }
    }

    .copyright{
        font-size: 0.8em;
        color: transparentize($textGreenDark, 0.6);
    }
     
}
