body {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px; }

header {
  text-align: center;
  margin-top: 2em; }
  header p {
    color: #42501b;
    font-size: 1.5em;
    margin: 0; }
  header h1 {
    font-size: 4em;
    margin: 0;
    font-style: italic;
    font-weight: bold; }

.orange {
  color: #ef5411; }

.green {
  color: #9fbf2c; }

/*_____________________________________
                         MAIN CONTENT*/
.mainContent {
  text-align: center;
  margin-top: 2em; }

.engines {
  display: block;
  width: 100%; }
  .engines button {
    display: block;
    float: left;
    height: 45px;
    color: white;
    background-color: black;
    border: none;
    width: 50%;
    background-color: #9fbf2c;
    font-size: 1.2em;
    cursor: pointer;
    width: 50%; }
    .engines button.active {
      background-color: #64950e; }

.searchField {
  clear: both;
  width: 100%;
  position: relative;
  /*Search button*/ }
  .searchField input {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    height: 4em;
    padding-left: 30px;
    font-size: 1.2em;
    color: #42501b;
    border: 1px solid rgba(114, 122, 94, 0.2); }
    .searchField input::-webkit-input-placeholder {
      color: #727a5e; }
  .searchField button.btn-search {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    cursor: pointer;
    padding: 1.2em 2.2em; }
    .searchField button.btn-search .fa-search {
      font-size: 2.5em;
      color: #ef5411; }

/* news only */
.newsOnly {
  color: #42501b; }

/* all navigation lists */
nav {
  clear: both; }
  nav ol {
    margin: 0;
    padding: 0; }
    nav ol li {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline-block; }
    nav ol a {
      display: block;
      padding: 5px 10px;
      color: #42501b;
      text-decoration: none; }
      nav ol a:hover {
        color: rgba(66, 80, 27, 0.5); }
    nav ol.languages li {
      border-right: 1px solid #9fbf2c; }
      nav ol.languages li:last-child {
        border-right: none; }
    nav ol.common {
      margin-top: 70px; }
      nav ol.common li a {
        color: rgba(66, 80, 27, 0.5);
        font-size: 0.9em; }
        nav ol.common li a:hover {
          color: rgba(66, 80, 27, 0.3); }

/*search results page*/
.sr-summary {
  text-align: left; }
  .sr-summary header {
    text-align: left;
    border-top: 1px solid rgba(114, 122, 94, 0.2); }
    .sr-summary header h2 {
      font-size: 1.5em;
      line-height: 0.5em;
      font-weight: normal;
      color: #999;
      float: left; }
      .sr-summary header h2 span {
        font-style: italic;
        font-size: 0.8em;
        color: #666; }
    .sr-summary header .actions {
      margin-top: 0.5em;
      float: right;
      clear: right; }
    .sr-summary header:after {
      content: "";
      display: table;
      clear: both; }
  .sr-summary .sr-summary-body {
    margin-top: 2em; }
    .sr-summary .sr-summary-body article {
      clear: both;
      margin-top: 2em;
      margin-bottom: 2.5em; }

/*footer*/
footer {
  clear: both;
  text-align: center;
  background: rgba(235, 235, 235, 0.9);
  width: 100%;
  bottom: 0;
  padding-bottom: 2vh;
  display: block;
  position: absolute; }
  footer .copyright {
    font-size: 0.8em;
    color: rgba(66, 80, 27, 0.4); }

/*# sourceMappingURL=style.css.map */
